*{
  margin: 0;
  /* box-sizing: border-box; */
}
body,
html {
  background-color: bisque;
  font-family: "PT Sans", cursive;
}

.MuiTypography-h6,
.MuiButton-containedSecondary{
    text-transform: capitalize;
    font-family: "PT Sans", cursive !important;
}
